<footer class="bg-gray-800 text-white py-4 w-full z-50">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between items-center">
        <div class="w-full md:w-auto text-center md:text-left mb-4 md:mb-0">
          <p>&copy; 2024 RESTOCK. Todos los derechos reservados.</p>
        </div>
        <div class="w-full md:w-auto text-center">
          <ul class="flex justify-center md:justify-end space-x-4">
            <li><a href="https://facebook.com" target="_blank" class="hover:underline">Facebook</a></li>
            <li><a href="https://twitter.com" target="_blank" class="hover:underline">Twitter</a></li>
            <li><a href="https://instagram.com" target="_blank" class="hover:underline">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
