<!-- <h1 class="bg-blue-500 text-white p-4 underline">
    Hello world!
</h1> -->

<div class="common-component">
  <!-- Encabezado -->
  <div class="flex items-center justify-between py-4">
    <div class="text-lg font-bold">
      <button [routerLink]="'home'">WALLAPP</button>
    </div>
    <div class="flex items-center">
      <input type="text" placeholder="Buscar..."
        class="px-4 py-2 mr-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
      <button class="px-4 py-2 bg-blue-500 text-white rounded-md" [routerLink]="'compromiso'">
        Compromiso
      </button>
      <button class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2" [routerLink]="'contactanos'">
        Contactanos
      </button>
      <button class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2" [routerLink]="'addProd'">
        Añadir
      </button>
      <button class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2" [routerLink]="'perfil'">
        <i class="fa fa-user" ></i>
      </button>
    </div>
  </div>

  


</div>