<div [style.background-color]="usuario.color" class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="max-w-md bg-white shadow-md rounded-md p-8">
      <h2 class="text-2xl font-bold mb-4">Perfil de Usuario</h2>
      <div>
        <p><strong class="text-gray-700">Nombre:</strong> {{ usuario.nombre }}</p>
        <p><strong class="text-gray-700">Apellidos:</strong> {{ usuario.apellidos }}</p>
        <p><strong class="text-gray-700">Correo:</strong> {{ usuario.correo }}</p>
        <p><strong class="text-gray-700">Nombre de usuario:</strong> {{ usuario.username }}</p>
        <p><strong class="text-gray-700">Fecha de nacimiento:</strong> {{ usuario.fecha_nacimiento | date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>
