<div class="overflow-auto  border-b border-t border-gray-300 flex flex-col ">

  <mat-toolbar color="primary" class="example-toolbar mt-40 z-50 fixed">
    <button mat-button (click)="openFiltersSidebar()">Filtros</button>

    <button mat-button [matMenuTriggerFor]="categoriasMenu">Categorías</button>
  </mat-toolbar>
  <!-- <mat-slider min="0" max="9999" step="50" showTickMarks discrete [(ngModel)]="precioMinimo"
          (input)="onPrecioChange($event)">
          <mat-label>Precio</mat-label>
          <input matSliderStartThumb />
          <input matSliderEndThumb />
        </mat-slider> -->

  <div class="flex">
    <!-- aside -->
    <aside class="flex w-75 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2 h-max fixed z-20" *ngIf="showFiltersSidebar" style="height: 100vh">

      <div class="flex flex-col items-center mt-20 px-2 py-3 bg-gray-100 space-y-4">

        <mat-form-field>
          <input type="text" placeholder="Provincia" aria-label="Provincia" matInput [(ngModel)]="provincia" [formControl]="provinciaCtrl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProvincia" >
            <mat-option *ngFor="let provincia of filteredProvincias | async" [value]="provincia">
              {{ provincia }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Estado del producto</mat-label>
          <mat-select [(ngModel)]="estado">
            <mat-option value="">Seleccionar</mat-option>
            <mat-option value="OPTIMO">Óptimo</mat-option>
            <mat-option value="BUENO">Bueno</mat-option>
            <mat-option value="DEFECTUOSO">Defectuoso</mat-option>
            <mat-option value="MAL-ESTADO">Mal Estado</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-radio-group [(ngModel)]="formaEnvio">
          <mat-label>Forma de envío</mat-label>
          <mat-radio-button value="1">Envío disponible</mat-radio-button>
          <mat-radio-button value="0">Sin envío</mat-radio-button>
        </mat-radio-group>

        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Precio Mínimo</mat-label>
            <input matInput type="number" [(ngModel)]="precioMinimo" placeholder="Precio Mínimo">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Precio Máximo</mat-label>
            <input matInput type="number" [(ngModel)]="precioMaximo" placeholder="Precio Máximo">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Ordenación</mat-label>
            <mat-select [(ngModel)]="ordenacion">
              <mat-option value="">Seleccionar</mat-option>
              <mat-option value="precioAsc">Precio (Menor a mayor)</mat-option>
              <mat-option value="precioDesc">Precio (Mayor a menor)</mat-option>
              <mat-option *ngIf="sesionIniciada" value="distanciaAsc">Distancia (Menor a menor)</mat-option>
              <mat-option *ngIf="sesionIniciada" value="distanciaDesc">Distancia (Mayor a menor)</mat-option>
              
            </mat-select>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="filtrar()">Filtrar</button>
        <button mat-raised-button color="warn" (click)="limpiarFiltros()">Limpiar filtros</button>
      </div>

    </aside>

    <!-- main content page -->
    <div class="w-full ml-40 mt-20 p-4 overflow-auto">
      <!-- <app-lista-prods></app-lista-prods> -->
      <div class="container mx-auto py-8">
        <p *ngIf="cadFiltros">{{ cadFiltros }}</p>
        <p class="text-2xl font-bold mb-4">LISTA DE PRODUCTOS</p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div *ngFor="let producto of productos" class="mb-4">
            <div
              class="bg-white rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer border border-gray-200 hover:border-blue-500"
              id="{{ producto._id }}"
              (click)="redirectToProductInfo(producto._id)"
            >
              <img
                [src]="producto.imagenes[0] ? 'data:image/jpeg;base64,' + producto.imagenes[0] : img_default"
                alt="prueba"
                class="w-full h-64 object-cover rounded-t-lg"
              />
              <div class="p-4">
                <h5 class="text-xl font-bold mb-2">{{ producto.nombre }}</h5>
                <p class="text-gray-700">{{ producto.precio | currency }}</p>
                <p *ngIf="sesionIniciada" class="text-gray-700">A {{ producto.distancia }} kms de ti</p>
                <p *ngIf="producto.estado" class="text-gray-700">Estado: {{ producto.estado }}</p>
                <p *ngIf="producto.envio_disponible == 1 || producto.envio_disponible == 0 " class="text-gray-700">Envío disponible: {{ producto.envio_disponible == 1 ? 'SI' : 'NO' }}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(productos.length == 0 || productos.length < paginaActual * 3) && procesando">
          Cargando productos...
        </div>
        <div *ngIf="(productos.length == 0 && !procesando)">
          No hay productos con esas características
        </div>
        <!-- Botón "Ver más" -->
        <div class="flex justify-center mt-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="cargarMasProductos()">
            Ver más
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Categorías Menu -->
  <mat-menu #categoriasMenu="matMenu">
    <ng-container class="flex flex-row" *ngFor="let categoria of categorias">
      <button mat-menu-item (click)="buscarCategoria(categoria.nombre)">
        {{ categoria.nombre }}
      </button>
    </ng-container>
  </mat-menu>

</div>
