<div class="mx-80">
    <h2 class="flex justify-center underline underline-offset-2 ">Compromisos con los usuarios</h2>
    <div>
        <p class="font-bold flex justify-center">Seguridad y protección de datos</p><br>
        <p class="flex justify-center">Nos comprometemos a proteger la información personal y financiera de todos
            nuestros usuarios. Implementando robustas medidas de seguridad y cumpliendo el RGPD(Reglamento general de
            Protección de Datos)</p>
    </div>
    <div>
        <p class="font-bold flex justify-center">Transparencia en las transacciones</p><br>
        <p class="flex justify-center">Nos aseguramos de que todas las transacciones son trasnparentes y justas para
            ambas partes, proporcionando información detallado sobre el estado de los articulos, así como de los
            terminos de venta, envío y devolución y evitando cualquier tipo de practica engañosa o información falsa
            sobre los productos</p>
    </div>
    <div>
        <p class="font-bold flex justify-center">Atención al cliente de calidad</p><br>
        <p class="flex justify-center">Nos comprometemos a ofrecer un servicio de atención al cliente receptivo y
            eficaz, proporcionando multiples canales de comunicación para que los usuarios planteeis vuestras preguntas,
            preocupaciones o reclamaciones, garantizando una respuesta rápida y util. La satisfacción de los usuarios es
            nuestra prioridad</p>
    </div>
    <div>
        <p class="font-bold flex justify-center">Cumplimiento de normativas y políticas</p><br>
        <p class="flex justify-center">Nos comprometemos a cumplir todas las leyes, regulaciones y politicas relevantes relacionadas con la venta de articulos de segunda mano. Esto incluye, cumplir los derechos de propiedad intelectual, evitar la venta de articulos prohibídos o ilegales, y seguir prácticas comerciales éticas en todo momento</p>
    </div>
</div>